@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background: linear-gradient(119deg, #464C6E 0%, #272B45 100%), #FFF;
}


.card {
 background: linear-gradient(119deg, #464C6E 0%, #272B45 100%);
}

.shadow-custom {
    box-shadow: 2px 2px 2px 0px rgba(83, 92, 136, 0.11) inset;
}


.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="925" height="302" viewBox="0 0 925 302" fill="none"><path d="M0 12C0 5.37258 5.37258 0 12 0H913C919.627 0 925 5.37258 925 12V290C925 296.627 919.627 302 913 302H12C5.37256 302 0 296.627 0 290V12Z" fill="%233F4669"/></svg>');
}


.button-background {
   background: linear-gradient(135deg, #495076 0%, #424869 100%);
}


.separator {
    opacity: 0.88;
    background: linear-gradient(180deg, #5A6086 0%, rgba(90, 96, 134, 0.48) 100%);
}


.cta-btn {
    border-radius: 12px;
    border: 1px solid #5F6791;
    background: linear-gradient(90deg, #7662C4 0%, #5458F6 100%), linear-gradient(135deg, #4D557D 0%, #424869 100%);
    box-shadow: 8px 8px 22px 0px rgba(54, 59, 87, 0.24), -6px -6px 24px 0px rgba(85, 93, 131, 0.48), -1px -1px 4px 0px rgba(83, 92, 136, 0.12) inset, 1px 1px 1px 0px rgba(38, 49, 105, 0.05) inset;
}


.tab-active {
    background: linear-gradient(135deg, #5E6488 0%, #424869 100%);
}


.select {
    border-radius: 12px;
border: 1px solid #5F6791;
opacity: 0.95;
background: linear-gradient(135deg, #495076 0%, #424869 100%);
box-shadow: 8px 8px 22px 0px rgba(54, 59, 87, 0.24), -6px -6px 24px 0px rgba(85, 93, 131, 0.48), -1px -1px 4px 0px rgba(83, 92, 136, 0.12) inset, 1px 1px 1px 0px rgba(38, 49, 105, 0.05) inset;
}

.input {
    border-radius: 16px;
    background: linear-gradient(135deg, #424869 24.41%, #4A5178 81.64%);
    box-shadow: 2px 2px 4px 0px rgba(38, 49, 105, 0.16) inset;
}